# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Project specific
strava_tokens.json
race_plan.tcx
*.tcx

# Data (Keep structure but ignore content)
data/models/*
!data/models/.gitkeep
data/raw/*
!data/raw/.gitkeep
